.banner {
  position: relative;
  margin: 141px 0 0;
}
.banner > img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.collections > .desc {
  width: 90%;
  display: flex;
  flex-direction: column;
  top: 30%;
  left: 5%;
  position: absolute;
}
.collections > .desc > span {
  font-family: "Poiret One", cursive;
  font-size: clamp(2rem, 6vw, 6rem);
  font-weight: bold;
  color: #fff;
}

.collections > .desc > .text {
  font-family: "Fira Sans", sans-serif;
}

/* category */

.category-wrapper {
  display: flex;
  padding: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.category-item {
  margin: 1rem;
  height: 70vh;
  width: 30%;
  position: relative;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.2),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.05);
}
.category-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.category-item .info {
  text-align: center;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
}
.category-item h3 {
  font-weight: bold;
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 1rem;
}

/* media queries */

@media (max-width: 580px) {
  .banner {
    margin: 70px 0 0;
  }
  .collections > .desc {
    width: 80%;
    display: flex;
    flex-direction: column;
    top: 60%;
    left: 10%;
    position: absolute;
  }
  .banner > .desc > span {
    font-family: "Poiret One", cursive;
    font-size: clamp(2rem, 7vw, 6rem);
    font-weight: bold;
    color: #fff;
  }

  .category-item {
    margin: 0.5rem;
    height: 50vh;
    width: 45%;
    position: relative;
  }
  .category-wrapper {
    padding: 0.2rem;
  }
}
