header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.2),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.05);
}
.header-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
}
.header-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}
.hide {
  top: -70px;
}
.show {
  top: 0;
}
.logo {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
  margin: 0 auto;
  flex: 1;
  cursor: pointer;
}
.item {
  font-size: 1.5rem;
  font-weight: 600;
  margin-right: 1rem;
  cursor: pointer;
}
.header-right > SVG {
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 1rem;
  cursor: pointer;
}
.header-right .search-box {
  display: flex;
  align-items: center;
  border: 0.15rem solid #f2f2f2;
  padding: 0.2rem 1rem;
  justify-content: space-between;
  border-radius: 2rem;
  background-color: #f2f2f2;
}
.search-box:focus-within {
  border: 0.15rem solid lightgray;
}
