nav {
  z-index: 9;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
  position: fixed;
  top: 90px;
}
nav > ul {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
nav > ul > li {
  font-size: 1rem;
  font-weight: 500;
  margin-right: 1rem;
  cursor: pointer;
}
