footer {
  background-color: #eeeeee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: start;
  padding: 1rem 3rem;
}
.footer-left {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
}
.footer-right-title {
  margin-top: 1rem;
}
.footer-right {
  flex: 3;
  padding: 1rem;
}
.footer-right-items div {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}
footer svg {
  margin-right: 1rem;
}

@media (max-width: 580px) {
  footer {
    padding: 1rem;
    font-size: small;
    flex-direction: column;
  }
  .footer-left,
  .footer-right {
    padding: 0.5rem;
  }
  .footer-right-items div {
    margin-bottom: 0.2rem;
    display: flex;
    align-items: center;
  }
  .footer-right .socials {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    padding-left: 1rem;
  }
  .footer-right-title {
    text-align: center;
  }
}
