* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: 'Comfortaa', cursive; */
  font-family: "Fira Sans", sans-serif;
  /* font-family: 'Lato', sans-serif; */
  scroll-behavior: smooth;
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}

/* .shadow {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.2),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.05);
} */
